.content__profile {
	background-color: #ffffff;
	border-radius: 3px;
	padding-top: 5vh;
	padding-right: 5vh;
	padding-left: 5vh;
	padding-bottom: 2vh;
	margin-top: 5vh;
	margin-bottom: 1vh;
}

.content__profile-info h4 {
	font-weight: 700;
	line-height: .5;
	margin-top: 5vh;
}

.content__profile-info h5 {
	font-weight: 300;
	color: #808080;
	margin-bottom: 3vh;
}

.content__profile-tweet h6 {
	font-weight: 700;
}

.content__profile-tweet p {
	color: #808080;
}

.content__profile-following h6 {
	font-weight: 700;
}

.content__profile-following p {
	color: #808080;
}

.content__profile-followers h6 {
	font-weight: 700;	
}

.content__profile-followers p {
	color: #808080;	
}

.content__profile-hero {
	background-color: #440066;
	border-radius-top: 3px;
	border-radius-bottom: 0;
	height: 30vh;
}

.content__profile-line {
	height: 1px;
	background-color: #B3B3B3;
	margin-top: .5vh;
	margin-bottom: 3vh;
}