.content__twitear {
	background-color: #ffffff;
	border-radius: 3px;
	padding: 5vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.content__twitear h4 {
	font-weight: 700;
	font-size: 1.2rem;
}

.content__twitear button {
	width: 100%;
	margin-top: 3vh;
	color: #ffffff;
	border: 0;
	padding: 1vh;
	background-color: #440066;
	font-weight: 700;
}

.content__twitear textarea {
	border: solid 1px #440066;
	margin-top: 3vh;
}

.content__twitear select {
	margin-top: 2vh;
	border: solid 1px #440066;
}